<h1 align="center">SIGNIN HERE</h1>
<hr/>
<div class='row'%>
  <div class='col-xs-12'>
    <%= form_tag users_login_path, method: 'get' do %>
      <%= label_tag :username ,'UserName' %>
      <br/>
      <br/>
      <%= text_field_tag :username, params[:username] %>
      <br/>
      <%= label_tag :password , 'Password' %>
      <br/>
      <br/>
      <%= password_field_tag :password %>
      <br/>
      <br/>
      <%= submit_tag "Sign in",class: "btn btn-primary btn-lg btn-xlarge"%>
    <% end %>
  </div>
</div>
